/* html{
    cursor: url(/src/assets/image/cursor.png), auto;
} */

a{
    text-decoration: none;
    color: #000000;
}


.adicionar_atividades {
    font-family: Arial, sans-serif;
    background: url(/src/assets/image/Adicionar-atividades/fundo_da_tela.jpg);
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 50px;
    
}

h1, h2 {
    color: #fdf8f8;
    text-align: center;
   
}

.menu a {
    display: block;
    margin: 25px;
    padding: 10px 10px;
    background-color: white; 
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 5px;
    
    
}

.menu a:hover {
    background-color: #2c2096;
    color: white;
}

form{
    display: inline-block;
    text-align: left;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px ;
    box-shadow: 0 0 10px #000000;
    text-decoration: none;
    border: #000000;
    flex-direction: column;
   
}
 


input, button {
    width: 100;
    margin-top: 8px;
    padding: 8px;
    background-color: rgb(245, 243, 243);
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 80%;
}

th, td {
    padding: 10px;
}


label, select, button{
    display: flex;
    text-align: center;
    gap: 8px;
    border-radius: 10px;

}


input{
    border-radius: 10px;
}
.datas {
    display: flex;
    gap: 8px;
    
}


select{
    background-color: rgb(245, 243, 243)
}

.tarefa input{
    width: 255px;
    height: 150px;
}

.observacao input{
     width: 200px;
     height: 10px;
}

.materia{
    display: flex;
    gap: 25px;
}

.buttonstarefas{
    display: flex;
    justify-content: center;
    text-decoration: none;
}


