*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;


}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('./image/Design\ sem\ nome.png');
    background-size: cover;
    background-position: center;
}
.container{
    width: 420px;
    background-color: transparent;
    border: 3px solid rgba(255, 255, 255, 0.377);
    border-radius: 10px;
    color: #fff;
    padding: 30px 40px;
    box-shadow: 0 4px 5px rgb(0, 0, 0);
    backdrop-filter: blur(5px);
}
.container h1{
    font-size: 46px;
    text-align: center;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;

}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;

}

.input-box input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.377);
    outline: none;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
    border-radius: 40px;
    font-family: "Carrois Gothic SC", sans-serif;
    font-weight: 400;
    font-style: normal;

    
}

.input-box input::placeholder{
    color: #fff;
    
    
}

.input-box select{
    width: 100%;
    height: 120%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.377);
    outline: none;
    font-size: 16px;
    color: #ffffff;
    padding: 20px 45px 20px 20px;
    border-radius: 40px;
     font-family: "Carrois Gothic SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.input-box select:hover{
    width: 100%;
    height: 120%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.377);
    outline: none;
    font-size: 16px;
    color: #22c6db;
    padding: 20px 45px 20px 20px;
    border-radius: 40px;
    font-family: "Carrois Gothic SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.login{
    width: 100%;
    height: 50px;
    background-color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: black;
    font-weight: 600;
    box-shadow: 0 0px 10px rgb(0, 0, 0);
}


.login:hover{
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.377);
    color: #fff;
    font-weight: 700;
    transition: 0.5;
}

.log{
    display: flex;
    justify-content: center;
    gap: 6px;
}
