* {

    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;  /*Zerar as configurações de largura de altura*/
    font-family: var(--font-family);

}

/* Define variáveis CSS globais (custom properties) */
:root{

    /* Cores*/
    --color-ceruleanfrost : #729AC3;
    --color-ceruleanfrost2 : #CDEAFF;
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-chatetau-gary: #454545;
    --color-rosa-pastel: #FCB9D0;
    --color-azul-ciano: #3E98D0;
    --color-azul-forte: #245ACF;

    /*Fontes*/

    --font-inknut-antiqua-regular-entreemcontato: 28px;
    --font-inknut-antiqua-regular-lagunaschool: 24px;
    --font-inknut-antiqua-regular-sobreaempresa: 24px;
    --font-inknut-antiqua-regular-slogan: 11px;
    --font-inknut-antiqua-regular-text: 12px;
    --font-inknut-antiqua-regular-link: 8px;

    


}