* {

    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;  /*Zerar as configurações de largura de altura*/
    font-family: var(--font-family);

}

/* Define variáveis CSS globais (custom properties) */
:root{

    /* Cores*/
    --color-ceruleanfrost : #729AC3;
    --color-ceruleanfrost2 : #CDEAFF;
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-chatetau-gary: #454545;
    --color-rosa-pastel: #FCB9D0;
    --color-azul-ciano: #3E98D0;
    --color-azul-forte: #245ACF;
    --color-azul-palido: #E6F8FF;

    /*Fontes*/

    --font-inknut-antiqua-regular-entreemcontato: 28px;
    --font-inknut-antiqua-regular-lagunaschool: 24px;
    --font-inknut-antiqua-regular-sobreaempresa: 24px;
    --font-inknut-antiqua-regular-slogan: 11px;
    --font-inknut-antiqua-regular-text: 12px;
    --font-inknut-antiqua-regular-link: 18px;

    /*Imagens*/
    --img-castle-fundo: url(/Laguna_School_Tech_Go/foto-de-fundo.jpeg);

}

p{
    flex-direction: column;
    width:462px;
    font-size: var(--font-inknut-antiqua-regular-link);
    line-height: 25px;
    
}
h2{
    font-size: 40px;
    
}

.slogan{
    font-size: 17px;
}