@import url(./global.css); /*Importando o CSS global para o styles*/

/*LOGIN E SENHA*/
.login_e_senha_body{
    background-image: url(/Laguna_School_Tech_Go-main/src/assets/image/Login-e-Senha/foto-de-fundo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
   
    
}
/*HEADER
/* header{
    display:flex;
    background-color: var( --color-ceruleanfrost);
    align-items: flex-start;
   
} */

.container-logo{
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: var(--color-ceruleanfrost);
  
}

.login_e_senha_main{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 200px;
}

.container-login{
    border: 3px solid var(--color-ceruleanfrost);
    background-color: var(--color-azul-palido);
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    align-items: center;
    box-shadow: 0px 2px 10px rgba (0,0,0,0,0.2);

}

.container-login input, button{
    width: 90%;
    padding: 8px;
    margin: 10px 0;
    border-radius: 7px;
}


.container-login button{
    border: 1.5px solid var(--color-rosa-pastel);
    width: 100px;
    
}

.container-login a{
  font-family: Arial;
  color: black;
  text-decoration: underline;
  
}

/*FIM LOGIN E SENHA*/



/*SOBRE A EMPRESA*/
.sobre_a_empresa_body{
    background-color: var(--color-ceruleanfrost2);
}

.sobre_a_empresa_main{
    display: flex;
    justify-content:flex-start;
    text-align: center;
}

.container-sobre-empresa{
    margin-top: 100px;
    margin-left: 200px;
    height: 240px;
    width: 500px;
    padding: 20px;
    border-radius: 20px;
    background-color: #9cc7f891;

}



 .container-img{
    margin-left: 100px;
    margin-top:40px;
 }

 .contato{
   display: flex;
    justify-content:center;
    text-align: center;
    margin-left: 80px;
 }
.trabalhador{
    border-radius: 100%;
}

.funcionarios{
    border-radius: 40px;
    padding: 20px;
    background-color: var(--color-azul-ciano);
    height: 269px ;
    width: 245px ;
    text-align: center;
}

.clt{
    padding: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
    
}

.funcionarios{
    box-shadow: 0 4px 5px rgb(63, 98, 143);
}

.funcionarios:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 5px rgb(63, 98, 143);
}

/* main {
    display: flex;
    align-items: center;
} */


.fazer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#EDFDFF;
  width: 240px;
  height: 240px;
  border: 1px solid #EDFDFF;
  border-radius: 25px;


}


.container1,.container2,.container3{
 display: flex;
 gap: 20px;
 justify-content: flex-start;
 margin-top: 20px;
}

.box{
  background-color:#EDFDFF;
  width: 240px;
  height: 240px;
  border: 1px solid #EDFDFF;
  border-radius: 25px;
}
.agenda{
    text-align: center;
    margin-top: 50px;
    margin-left: 50px;
}

