@import url(./global.css); /*Importando o CSS global para o styles*/

/*LOGIN E SENHA*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;


}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(/src/assets/image/Login-e-Senha/fundo.png);
    background-size: cover;
    background-position: center;
}
.container{
    width: 420px;
    background-color: transparent;
    border: 3px solid rgba(255, 255, 255, 0.377);
    border-radius: 10px;
    color: #fff;
    padding: 30px 40px;
    box-shadow: 0 4px 5px rgb(0, 0, 0);
    backdrop-filter: blur(5px);
}
.container h1{
    font-size: 46px;
    text-align: center;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;

}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;

}

.input-box input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.377);
    outline: none;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
    border-radius: 40px;
    font-family: "Carrois Gothic SC", sans-serif;
    font-weight: 400;
    font-style: normal;

    
}

.input-box input::placeholder{
    color: #fff;
    
    
}

.input-box select{
    width: 100%;
    height: 120%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.377);
    outline: none;
    font-size: 16px;
    color: #ffffff;
    padding: 20px 45px 20px 20px;
    border-radius: 40px;
     font-family: "Carrois Gothic SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.input-box select:hover{
    width: 100%;
    height: 120%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.377);
    outline: none;
    font-size: 16px;
    color: #22c6db;
    padding: 20px 45px 20px 20px;
    border-radius: 40px;
    font-family: "Carrois Gothic SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.login{
    width: 100%;
    height: 50px;
    background-color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: black;
    font-weight: 600;
    box-shadow: 0 0px 10px rgb(0, 0, 0);
}


.login:hover{
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.377);
    color: #fff;
    font-weight: 700;
    transition: 0.5;
}

.log{
    display: flex;
    justify-content: center;
    gap: 6px;
}


/*FIM LOGIN E SENHA*/



/*SOBRE A EMPRESA*/
.sobre_a_empresa_body{
    background-color: var(--color-ceruleanfrost2);
}

.sobre_a_empresa_main{
    display: flex;
    justify-content:flex-start;
    text-align: center;
}

.container-sobre-empresa{
    margin-top: 80px;
    margin-left: 200px;
    

}

 .container-img{
    margin-left: 100px;
    margin-top:40px;
 }

 .contato{
   display: flex;
    justify-content:center;
    text-align: center;
    margin-left: 80px;
 }
.trabalhador{
    border-radius: 100%;
}

.funcionarios{
    border-radius: 40px;
    padding: 20px;
    background-color: var(--color-azul-ciano);
    height: 269px ;
    width: 245px ;
    text-align: center;
}

.clt{
    padding: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
    
}

.funcionarios{
    box-shadow: 0 4px 5px rgb(63, 98, 143);
}

.funcionarios:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 5px rgb(63, 98, 143);
}



.container-agenda-fazer {
    display: flex; 
    justify-content: flex-start; 
    align-items: flex-start;
    gap: 50px; 
    margin-top: 50px;
    margin-left: 50px;
}

.agenda{
    text-align: center;
 
}

.fazer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var( --color-cinza);
  width: 680px;
  height: 780px;
  border: 1px solid var( --color-cinza);
  border-radius: 30px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 50px;

}

.container1,.container2,.container3{
 display: flex;
 gap: 20px;
 justify-content: flex-start;
 margin-top: 20px;
}

.box{
  background-color:#EDFDFF;
  width: 240px;
  height: 240px;
  border: 1px solid #EDFDFF;
  border-radius: 25px;
}

.titulo{
     width: 400px;
     height: 50px;
     background-color: var(--color-rosa);
     color: black;
     border-radius: 6px;
     text-align: center;
     align-self: flex-start;  
     margin: 0 auto;
     
}

.informações{
    width: 400px;
     height: 50px;
     background-color: var(--color-ceruleanfrost);
     color: black;
     border-radius: 6px;
     text-align: center;
     align-self: flex-start;  
}

.atividade{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var( --color-cinza);
  width: 680px;
  height: 380px;
  border: 1px solid var( --color-cinza);
  border-radius: 30px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 50px;

}

.registro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-btn-header  {
    margin-top: 30px;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    color: black;
    text-decoration: none;
    margin-left: 300px;
    height: 50px;
    width: 100px;

}

.registro{
    margin-top: 40px;
    
    margin-left: 90px;
}